---
import Base from './Base.astro';

interface Props {
	frontmatter: {
		title: string;
		description?: string;
		client?: string;
		tools?: string;
		dates?: string;
	};
}

const { title, description, client, dates, tools } = Astro.props.frontmatter;
---
<Base title={title}>
	<h1>{title}</h1>
	<p>{description}</p>
	<p>Client: {client}</p>
	<slot />
	<p>{tools}</p>
	<p>{dates}</p>
</Base>

